<section>
    {{#if error}}
    <div class="alert alert-danger alert_notification" role="alert">
        {{error}}
    </div>
    {{/if}}

    {{#if notice}}
    <div class="alert alert-primary alert_notification" role="alert">
        {{notice}}
    </div>
    {{/if}}
</section>
<header>
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class=" col-md-6 col-sm-12">
                <div class="logo">
                    <a href="/methodist/cabinet" class="logo__tallam">Tallam</a>
                    <div>
                        <h2 class="header__institution" id="header__institution">{{school_name}}</h2>
                    </div>
                </div>
            </div>
            <div class=" col-md-6 col-sm-12 ">
                <nav class="navbar navbar-expand-md navbar-light">
                    <div class="container-fluid pt-2">
                        <button class="navbar-toggler mx-auto" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon "></span>
                        </button>
                        <div class="collapse navbar-collapse   flex-row-reverse  " id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/school/support">Помощь</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/auth/logout">Выйти</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="row indent-y-2-m">

            <div class="col-md-6">
                <nav class="second_nav">
                    <ul class="second_nav__items">
                        <li class="second_nav__item"><a href="#" onclick="history.back(); return false;" id="myBtn"
                                class="second_nav__link"> Вернуться назад</a></li>

                    </ul>
                </nav>
            </div>
            <div class="col-md-6">
                <nav class="second_nav">
                    <ul class="second_nav__items">
                        <li class="second_nav__item"><a href="/methodist/cabinet/" id="myBtn" class="second_nav__link">
                                Вернуться на
                                главную</a></li>

                    </ul>
                </nav>
            </div>



        </div>
        <div class="row top-main-line ">
            {{#if teacher.length}}
            {{#each teacher}}
            <div class="col-md-3 ">
                <section class="profile">
                    <div class="profile__photo">
                        <img src="/img/teachers/uploads/avatars/{{avatar}}" alt="Фото">
                        {{!-- <button class="profile-btn" id="addAva">Редактировать</button> --}}
                        <!--                    <div id="modalAva" class="modalAva">-->
                        <!--                         <div class="modal-content">-->
                        <!--                    <span class="close">&times;</span>-->
                        <!--                    <div id="drop-area">-->
                        <!--                    <form class="my-form" action="/school/list/upload" enctype="multipart/form-data">-->
                        <!--                    <p>Вы можете загрузить изображение в формате JPG, GIF или PNG.</p>-->
                        <!--                    <input type="file" id="fileElem" name="avatar"  accept="image/*" onchange="return handleFiles(this.files)">-->
                        <!--                    <label class="button" for="fileElem">Выбрать изображения</label>-->
                        <!--                    <input type="hidden" name="_csrf" value="{{@root.csrf}}" id="token1">-->
                        <!--                    <input type="hidden" name="teacher_id" value="{{id_teacher}}" id="teacher_id">-->
                        <!--                    </form>-->
                        <!--                    <div id="gallery"></div>-->
                        <!--                    <progress id="progress-bar" max=100 value=0></progress>-->
                        <!--                    </div>-->
                        <!--                    <hr>-->
                        <!--                    <span>Если у Вас возникают проблемы с загрузкой, попробуйте выбрать фотографию меньшего размера.</span>-->
                        <!--                    </div>-->
                        <!--                    </div>-->
                    </div>
                </section>
            </div>
            <div class="col-md-9">
                <div class="profile">
                    <!-- HEADER TITLE -->
                    <div class="row">
                        <div class="col-sm-6">

                        </div>
                        <div class="col-sm-6 text-align-right">
                            <div class="personal__buttons">
                                {{!-- <a href="/school/list/edit/{{id_teacher}}"> Редактировать </a> --}}
                                <!-- <a href="#">Оценить</a> -->
                            </div>
                        </div>
                    </div>
                    <!-- HEADER TITLE -->


                    <!-- PERSONAL DATA -->
                    <section class="profile__block personal">
                        <h2 class="profile__title">Личные данные</h2>
                        <hr>
                        <div class="row ">
                            <div class="col-sm-4 row_line">
                                <h4 class="profile__subtitle">ФИО</h4>
                            </div>
                            <div class="col-sm-8 row_line">
                                <h5 class="personal__fullname">{{surname}} {{firstname}} {{patronymic}}</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 row_line">
                                <h4 class="profile__subtitle">Дата рождения</h4>
                            </div>
                            <div class="col-sm-8 row_line">
                                <h5 class="personal__birthday"> {{../birthdayShort}}</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 row_line">
                                <h4 class="profile__subtitle">СНИЛС</h4>
                            </div>
                            <div class="col-sm-8 row_line">
                                <h5 class="personal__snils">{{snils}}</h5>
                            </div>
                        </div>
                    </section>
                    <!-- PERSONAL DATA -->


                    <!-- EDUCATION -->
                    <section class="profile__block personal indent-y-3">
                        <h2 class="profile__title">Образование</h2>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4 row_line">
                                <h4 class="profile__subtitle">Образование</h4>
                            </div>
                            <div class="col-sm-8 row_line">
                                <h5 class="education__name">{{title_edu_level}}</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 row_line">
                                <h4 class="profile__subtitle ">Номер документа</h4>
                            </div>
                            <div class="col-sm-8 row_line">
                                <h5 class="education__document">{{diploma}}</h5>
                            </div>
                        </div>
                    </section>
                    <!-- EDUCATION -->

                    <!-- PROFESSIONAL SKILLS-->
                    <section class="profile__block personal indent-y-3">
                        <h2 class="profile__title">Профессиональные данные</h2>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4 row_line">
                                <h4 class="profile__subtitle">Должность</h4>
                            </div>
                            <div class="col-sm-8 row_line">
                                <h5 class="personal__position">{{ title_position}}</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 row_line">
                                <h4 class="profile__subtitle ">Категория</h4>
                            </div>
                            <div class="col-sm-8 row_line">
                                <h5 class="title_category">{{title_category}}</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 row_line">
                                <h4 class="profile__subtitle ">Преподваемые дисциплины:</h4>
                            </div>
                            <div class="col-sm-8 row_line">
                                {{#if ../discipline.length}}
                                <ol class="training__projects">
                                    {{#each ../discipline}}
                                    <li> {{title_discipline}}</li>
                                    {{/each}}
                                </ol>

                                {{else}}
                                <p class="title_category"> нет </p>
                                {{/if}}
                            </div>
                        </div>
                    </section>
                    <!-- PROFESSIONAL SKILLS-->

                    <!-- CONTACT-->
                    <section class="profile__block personal indent-y-3">
                        <h2 class="profile__title">Контактные данные</h2>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4 row_line">
                                <h4 class="profile__subtitle">Email</h4>
                            </div>
                            <div class="col-sm-8 row_line">
                                <h5 class="contacts__email">{{email}}</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 row_line">
                                <h4 class="profile__subtitle">Телефон</h4>
                            </div>
                            <div class="col-sm-8 row_line">
                                <h5 class="contacts__phone">{{phone}}</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-8"></div>
                        </div>
                    </section>
                    <!-- CONTACT-->
                </div>

                {{/each}}
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Вы уверены?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                <a href="/school/list/delete_profile/{{teacher_id}}" class="btn btn-danger">Удалить</a>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div>

        </div>
    </div>



    {{else}}
    <div class="col-12">
        <h2> Работник отсутствует!</h2>
    </div>
    {{/if}}





</main>


<script type="text/javascript">

    setTimeout(function () {
        let notices = document.querySelectorAll('.alert_notification')
        for (let i = 0; i < notices.length; i++) {
            notices[i].remove()
        }
    }, 2000)


    let menuButton = document.querySelector(".menu_btn");

    menuButton.addEventListener('click', toggleMenu);

    function toggleMenu() {
        let mainNav = document.querySelector('.main_nav');
        /* let inst = document.querySelector('.header__institution'); */

        menuButton.classList.toggle('menu_btn--active');
        mainNav.classList.toggle('main_nav--active');
        /* inst.classList.toggle('header__institution--without_nav'); */

        return false;
    }


    let menuItems = document.querySelectorAll('.second_nav__item a');
    let locationIndex = window.location.pathname.lastIndexOf('/');
    let documentLocation = window.location.pathname.slice(locationIndex + 1,);

    menuItems.forEach(item => {
        let itemIndex = item.attributes.href.value.lastIndexOf('/');
        let itemHref = item.attributes.href.value.slice(itemIndex + 1,);
        if (itemHref == documentLocation) {
            item.classList.add('active');
        }
    })


    let black = document.querySelector('.black');
    let body = document.querySelector('body');

    let popUp = document.querySelector('.modal--pop_up');
    let popUpCloseButton = document.querySelector('.modal__cross--pop_up');
    let popUpOk = document.querySelector('.pop_up__ok');

    if (popUpCloseButton) {
        popUpCloseButton.addEventListener('click', closeModal(popUp));
        popUpOk.addEventListener('click', closeModal(popUp));
    }

    let success = document.querySelector('.success');
    let popUpCloseTimer;

    if (success) {
        success.addEventListener('click', () => {
            openModal(popUp)();
            popUpCloseTimer = setTimeout(closeModal(popUp), 10000);
        });
    }

    black.addEventListener('click', () => {
        let modals = document.querySelectorAll('.modal');
        modals.forEach(modal => closeModal(modal)());
        clearTimeout(popUpCloseTimer);
    });

    document.addEventListener('keyup', event => {
        if (event.keyCode === 27) {
            closeModal(popUp)();
        }
    })

    function closeModal(modal) {
        if (modal === null) return;
        return () => {
            modal.style.opacity = '0';
            modal.style.transform = 'translateY(-100vh)';
            black.style.display = 'none';
            body.style.overflow = '';
        };
    }

    function openModal(modal) {
        if (modal === null) return;
        return () => {
            modal.style.opacity = '1';
            modal.style.transform = 'translateY(0px)';
            black.style.display = 'block';
            body.style.overflow = 'hidden';
        };
    }

    let modal = document.querySelector('.modal--delete_profile');
    let cross = document.querySelector('.modal__cross--delete_profile');
    let closeButton = document.querySelector('.modal__answer--no');

    let deleteButton = document.querySelector('.profile__button--delete');
    deleteButton.addEventListener('click', openModal(modal));


    closeButton.addEventListener('click', closeModal(modal));
    cross.addEventListener('click', closeModal(modal));

    black.addEventListener('click', closeModal(modal));

    document.addEventListener('keyup', event => {
        if (event.keyCode === 27) {
            closeModal(modal)();
        }
    })

    //PROFILE PHOTO MODAL


    btn.addEventListener('click', (event) => {
        event.preventDefault()
        modalAva.style.display = "block";
    })

    span.onclick = function () {
        modalAva.style.display = "none";
    }

    window.onclick = function (event) {
        if (event.target == modalAva) {
            modalAva.style.display = "none";
        }
    }

    let filesDone = 0
    let filesToDo = 0
    let progressBar = document.getElementById('progress-bar')

    let dropArea = document.getElementById('drop-area');
    ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
        dropArea.addEventListener(eventName, preventDefaults, false)
    })

    function preventDefaults(e) {
        e.preventDefault()
        e.stopPropagation()
    }

    ['dragenter', 'dragover'].forEach(eventName => {
        dropArea.addEventListener(eventName, highlight, false)
    });

    ['dragleave', 'drop'].forEach(eventName => {
        dropArea.addEventListener(eventName, unhighlight, false)
    });

    function highlight(e) {
        dropArea.classList.add('highlight')
    }

    function unhighlight(e) {
        dropArea.classList.remove('highlight')
    }

    dropArea.addEventListener('drop', handleDrop, false)
    function handleDrop(e) {
        let dt = e.dataTransfer
        let files = dt.files
        handleFiles(files)
    }

    function handleFiles(files) {
        //files = [...files]
        initializeProgress(files.length)
        uploadFile(files[0])
    }


    async function uploadFile(file) {
        let url = '/school/list/upload'
        let formData = new FormData()
        let teacher_id = document.querySelector("#teacher_id").value
        formData.append('file', file)
        formData.append('teacher_id', teacher_id)
        let _csrf = document.querySelector('#token1').value

        await fetch(url, {
            method: 'POST',
            headers: {
                'CSRF-Token': _csrf
            },
            redirect: 'follow',
            body: formData
        })
            .then(progressDone).then(window.location.replace('/school/list/' + teacher_id))
            .catch((e) => { console.log(e.message) })
    }

    function previewFile(file) {
        let reader = new FileReader()
        reader.readAsDataURL(file)
        reader.onloadend = function () {
            let img = document.createElement('img')
            img.src = reader.result
            document.getElementById('gallery').appendChild(img)
        }
    }

    function initializeProgress(numfiles) {
        progressBar.value = 0
        filesDone = 0
        filesToDo = numfiles
    }
    function progressDone() {
        filesDone++
        progressBar.value = filesDone / filesToDo * 100
    }

    $(document).ready(function () {
        if ($("#notice")) {
            $(".flash").fadeIn(.5).fadeOut(4000)
        }
    });

</script>