<section>
    {{#if error}}
    <div class="alert alert-danger alert_notification" role="alert">
        {{error}}
    </div>
    {{/if}}

    {{#if notice}}
    <div class="alert alert-primary alert_notification" role="alert">
        {{notice}}
    </div>
    {{/if}}
</section>
<header>
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class=" col-md-6 col-sm-12">
                <div class="logo">
                    <a href="/methodist/cabinet" class="logo__tallam">Tallam</a>
                    <div>
                        <h2 class="header__institution" id="header__institution">{{school_name}}</h2>
                    </div>
                </div>
            </div>
            <div class=" col-md-6 col-sm-12 ">
                <nav class="navbar navbar-expand-md navbar-light">
                    <div class="container-fluid pt-2">
                        <button class="navbar-toggler mx-auto" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon "></span>
                        </button>
                        <div class="collapse navbar-collapse   flex-row-reverse  " id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/school/support">Помощь</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/auth/logout">Выйти</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>


<main>
    <div class="container">
        <div class="row indent-y-2-m">

            <div class="col-md-6">
                <nav class="second_nav">
                    <ul class="second_nav__items">

                        <li class="second_nav__item"><a
                                href="/methodist/cabinet/school/{{school_id}}/area/{{area_id}}/methodist/{{id_methodist}}/teachers"
                                class="second_nav__link">Вернуться к списку</a></li>
                    </ul>
                </nav>
            </div>

            <div class="col-md-6">
                <nav class="second_nav">
                    <ul class="second_nav__items">

                        <li class="second_nav__item"><a
                                href="/methodist/cabinet/school/{{school_id}}/card/methodist/{{id_methodist}}/teacher/{{teacher_id}}/check"
                                class="second_nav__link">Оценить</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <section class="teacher-card">
                    <div class="teacher-card__title">
                        {{#if teacher}}
                        {{#each teacher}}
                        <h2 class="text-align-center header_main_blue_color">Личный профиль</h2>
                        <h2 class="text-align-center">ФИО: <span
                                style="text-decoration:underline; text-transform:uppercase">{{surname}} {{firstname}}
                                {{patronymic}} </span></h2>
                        {{/each}}
                        {{else}}
                        нет данных
                        {{/if}}
                    </div>
                    <div class="teacher-card__second-title">
                        <form method="POST">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="input-group mb-3">
                                        <select name="card-results-sourse" id="card-results-sourse" class="form-select">
                                            <option value=""> Тип оценки </option>
                                            <option value="1" {{selected 1 currentSourceId}}> Отобразить мои оценки
                                            </option>
                                            <option value="2" {{selected 2 currentSourceId}}> Отобразить оценки школы
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="input-group mb-3">
                                        <select name="card-results-discipline" id="card-results-discipline"
                                            class="form-select">
                                            {{#if disciplineListByTeacherId}}
                                            <option value=""> Выбрать предмет</option>
                                            {{#each disciplineListByTeacherId}}
                                            <option value="{{discipline_id}}" {{selected discipline_id ../currentDisc}}>
                                                {{title_discipline}}</option>
                                            {{/each}}
                                            {{else}}
                                            <option value="">Нет предмета</option>
                                            {{/if}}
                                        </select>
                                    </div>
                                </div>
                            </div>


                            <div class="input-group">
                                <input type="hidden" name="id_teacher" value="{{teacher_id}}" id="id_teacher">
                                <input type="hidden" name="school_id" value="{{school_id}}" id="school_id">
                                <input type="hidden" name="project_id" value="{{project_id}}" id="project_id">
                                <input type="hidden" name="_csrf" value="{{@root.csrf}}" id="token">

                            </div>
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-block btn-main-block btn-main-color">Отобразить
                                    результаты по фильтру</button>
                            </div>

                        </form>
                    </div>
                    <div class="wrapper-body table_section table-responsive">
                        <h3 class="text-align-center">Список оценок (оценки уроков) </h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>№</th>
                                    <th>Дата</th>
                                    {{!--                                 <th><span style="font-weight:bold;font-style:normal">Результат </span></th> --}}
                                    <th>Предмет</th>
                                    <th>Класс</th>
                                    <th>Тип оценки</th>
                                    <th>Тип карты</th>
                                </tr>

                            </thead>
                            <tbody>


                                {{#if card}}
                                {{#each card}}

                                {{!-- /{{getCardLink card_type}} --}}
                                <tr class="hov-link"
                                    data-href="/methodist/cabinet/school/{{../school_id}}/showcard/{{id_card}}/methodist/{{../id_methodist}}/teacher/{{../teacher_id}}/{{getCardLink card_type}}">
                                    <td class="tg-0pky"> {{increment @index}}</td>
                                    <td class="tg-0pky">{{day}} {{getMonthFromArray month}} {{year}}</td>
                                    {{!--                                         <td class="tg-0pky">{{level}}</td> --}}
                                    <td class="tg-0pky">{{title_discipline}}</td>
                                    <td class="tg-0pky">{{class_id}}</td>
                                    <td class="tg-0pky">{{getSource source_id}} </td>
                                    <td class="tg-0pky">{{getCardName card_type}} </td>
                                </tr>
                                {{/each}}
                                {{else}}
                                <tr>
                                    <td class="tg-fymr" colspan="15"> нет данных</td>
                                </tr>
                                {{/if}}
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
        <div class="row indent-y-1">
            <div class="col-12">
                <section>
                    <div class="operation-block">
                        <div class="operation-block__links">
                            {{!--                             <a href="/school/card/create_tbl_marks/teacher/{{teacher_id}}/project/{{project_id}}"><i class="fa fa-file-excel-o" style="font-size:2.5em;color:#39b76c"></i> <span>Сформировать таблицу со всеми оценками учителя</span></a> --}}
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>

<script>
    $('tr[data-href]').on("click", function () {
        document.location = $(this).data('href');
    }); 
</script>