<header>
    <div class="container">

        <div class="row d-flex align-items-center">
            <div class=" col-md-6 col-sm-12">
                <div class="logo">
                    <a href="/" class="logo__tallam">Tallam</a>
                    <div>
                        <h2 class="header__institution" id="header__institution">{{school_name}}</h2>
                    </div>
                </div>
            </div>
            <div class=" col-md-6 col-sm-12 ">
                <nav class="navbar navbar-expand-md navbar-light">
                    <div class="container-fluid pt-2">
                        <button class="navbar-toggler mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon "></span>
                        </button>
                        <div class="collapse navbar-collapse   flex-row-reverse  " id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link"  href="/school/support">Помощь</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/auth/logout">Выйти</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container">

        <div class="col-12">
            <div class="row indent-y-2-m">
                <div class="col-md-6">
                    <nav class="second_nav">
                        <ul class="second_nav__items">
                            <li class="second_nav__item"><a href="/school/project/{{project_id}}" class="second_nav__link"> Вернуться в проект </a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-6">
                    <nav class="second_nav">
                        <ul class="second_nav__items">
                            <li class="second_nav__item"><a href="/" class="second_nav__link">Вернуться в личный кабинет</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <section>
                {{#if notice}}
                    <h3> {{ notice}}</h3>
                {{/if}}
                {{#if error}}
                    <h3> {{ error}}</h3>
                {{/if}}
            </section>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="lists">
                    <div class="lists__list lists__global_list">
                        <div class="text-align-center mh-3 pb-3">
                        <h4 class="header_main_blue_color bold" >Список учителей, которые еще не добавлены в проект</h4>
                           <span >(Для добавления в проект, необходимо нажать на кнопку «+» )</span>
                        </div>
                        <section class="list_section">

                            <ul class="teachers_list">
                                {{#if common_data}}
                                    {{#each common_data}}
                                        <div class="wrapper_list_item">
                                            <li class="teachers_list__item"> <a href="/school/project/{{../project_id}}/add/{{id_teacher}}"> {{surname}} {{firstname}} {{patronymic}} <i class="gg-add-r"></i>  </a></li>
                                        </div>
                                    {{/each}}
                                {{else}}
                                    Пусто
                                {{/if}}
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="list">
                    <div class="lists__list lists__project_list">
                      <div class="text-align-center mh-3 pb-3">
                        <h4 class=" header_main_blue_color bold">Список учителей, участвующих  в проекте </h4>
                         <span >(Убрать из проекта можно нажав на кнопку «-» )</span>
                      </div>
                        <section class="list_section">
                            <ul class="teachers_list">
                                {{#if members_current_project_teachers}}
                                    {{#each members_current_project_teachers}}
                                        <li class="teachers_list__item"> <a href="/school/project/library/{{../project_id}}/delete_in_project/{{id_teacher}}">{{surname}} {{firstname}} {{patronymic}} <i class="gg-add-rr"></i> </a> </li>
                                    {{/each}}
                                {{else}}
                                    пусто
                                {{/if}}
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
