
<style>
/* .tr-max-size { */
/* width:100%; */
/* } */



</style>
<section>
    {{#if error}}
        <div class="alert alert-danger alert_notification" role="alert">
            {{error}}
        </div>
    {{/if}}

    {{#if notice}}
        <div class="alert alert-primary alert_notification" role="alert"  >
            {{notice}}
        </div>
    {{/if}}
</section>
<header>
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class=" col-md-6 col-sm-12 print-none">
                <div class="logo">
                    <a href="/" class="logo__tallam">Tallam</a>
                    <div>
                        <h2 class="header__institution" id="header__institution">{{school_name}}</h2>
                    </div>
                </div>
            </div>

{{!--             print block --}}
        <div class=" print-show col-md-12">
                <div class="logo text-align-center">
                    <a href="/" class="logo__tallam">Tallam</a>
                    <div>
                        <h2 class="header__institution" id="header__institution">{{school_name}}</h2>
                    </div>
                </div>
            </div>
{{!-- print block end --}}
            <div class=" col-md-6 col-sm-12 ">
                <nav class="navbar navbar-expand-md navbar-light">
                    <div class="container-fluid pt-2">
                        <button class="navbar-toggler mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon "></span>
                        </button>
                        <div class="collapse navbar-collapse   flex-row-reverse  " id="navbarNavDropdown">
                            <ul class="navbar-nav" >
                                <li class="nav-item">
                                    <a class="nav-link"  href="/school/support">Помощь</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/auth/logout">Выйти</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>


<main>
    <div class="container">

        <div class="row indent-y-2-m">
            <div class="col-md-6">
                <nav class="second_nav">
                    <ul class="second_nav__items">
                        <li class="second_nav__item"><a href="/school/project/{{project_id}}" class="second_nav__link">Вернуться на страницу проекта</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-6">
                <nav class="second_nav">
                    <ul class="second_nav__items">
                        <li class="second_nav__item"><a href="/school/card/check/project/{{project_id}}/teacher/{{teacher_id}}" class="second_nav__link">Оценить</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="own-container">
            <div class="row">
                <div class="col-12">
                    <div class="teacher-card__title">
                        {{#if teacher}}
                            {{#each teacher}}
                                <h2 class="text-align-center header_main_blue_color">Личный профиль</h2>
                                <h3 class="text-align-center">ФИО: <span style="text-decoration:underline; text-transform:uppercase">{{surname}} {{firstname}} {{patronymic}} </span></h3>
                            {{/each}}
                        {{else}}
                            нет данных
                        {{/if}}
                    </div>
                </div>

            </div>
            {{#each singleCard}}
            <!-- new tbl -->
            <div class="row">
                 <div class = "col-12">
                    <div class="wrapper-body table_section table-responsive">

                      <div class = "col-6 mx-auto">
                      <table class="table-responsive">
                       <tbody>
                         <tr>
                          <td class="tg-0lax tg-center fix-size-contact">Дата</th>
                          <td class="tg-0lax" >{{../create_mark_date}}</th>
                         </tr>


                         <tr>
                           <td class="tg-0lax tg-center">ФИО, должность субъекта оценивания урока</td>
                           <td class="tg-0lax" >{{../sourceData}}</td>
                         </tr>
                         <tr>
                           <td class="tg-0lax">Предмет</td>
                           <td class="tg-0lax" >{{title_discipline}}</td>
                         </tr>
                         <tr>
                           <td class="tg-0lax">Класс</td>
                           <td class="tg-0lax" >{{class_id}} {{#if liter_class}} "{{liter_class}}" {{/if}}</td>
                         </tr>
                         <tr>
                           <td class="tg-0lax">Тема</td>
                           <td class="tg-0lax" >{{thema}}</td>
                         </tr>
                          </tbody>
                         </table>
                         </div>
                         <table class="table-responsive">
                         <thead>
                             <tr class="tr-max-size">

                               <th class="tg-7btt align-middle own-table-align-center print-none">Критерии оценки урока <br/> (2 балла – признак проявляется в полной мере, но не регулярно, <br>1 балл – признак проявляется не в полной мере, <br>0 баллов – признак не проявляется в деятельности учителя на уроке)<br> (0 – 1 балл) - бинарная оценка фиксирует наличие или отсутствие действия учителя <br> -- материал по теме урока не позволяет учителю организовать такую работу на уроке</th>
                               <th class="tg-7btt align-middle own-table-align-center print-show">Критерии оценки урока (2 балла – признак проявляется в полной мере, но не регулярно, 1 балл – признак проявляется не в полной мере, 0 баллов – признак не проявляется в деятельности учителя на уроке), (0 – 1 балл) - бинарная оценка, фиксирует наличие или отсутствие действия учителя, - материал по теме урока не позволяет учителю организовать такую работу на уроке</th>
                               <th class="tg-7btt align-middle own-table-align-center fix-width">Оценивание в баллах</th>
                             </tr>
                         </thead>
                         </table>

                        <table class="table-responsive">
                        <div class="tbl-result_card">
                         <tr>
                         			<td colspan="2" class="own-table-align-center" style="font-weight:bold"> 1. ПРЕДМЕТНЫЕ КОМПЕТЕНЦИИ </td>
                         		</tr>
                         		<tr>
                         			<td>1.1. Учитель проводит урок по теме, которая соответствует теме в его Рабочей программе и Календарно-тематическом плане</td>
                         			<td class="fix-width">{{k_1_1}}</td>
                         		</tr>
                         		<tr>
                         			<td>1.2. Учитель направляет внимание учащихся на тему урока и на главные (новые) слова в ней</td>
                         			<td class="fix-width">{{k_1_2}}</td>
                         		</tr>
                         		<tr>
                         			<td>1.3. Учитель организует самостоятельную работу учащихся с учебником </td>
                         			<td class="fix-width">{{k_1_3}}</td>
                         		</tr>
                         		<tr>
                         			<td>1.4. Учитель владеет материалом по теме урока</td>
                         			<td class="fix-width">{{k_1_4}}</td>
                         		</tr>
                         		<tr>
                         			<td>1.5. Учитель обучает учащихся работать с ошибками </td>
                         			<td class="fix-width">{{k_1_5}}</td>
                         		</tr>
                         		<tr>
                         			<td>1.6. Учитель обучает учащихся устанавливать связи между знаниями по теме урока и знаниями из других тем (внутрипредметные связи) </td>
                         			<td class="fix-width">{{k_1_6}}</td>
                         		</tr>
                         		<tr>
                         			<td>1.7.* Учитель обучает учащихся устанавливать связи между знаниями по теме урока и знаниями из других учебных предметов (межпредметные связи)</td>
                         			<td class="fix-width">{{ ../specialVal.k_1_7}}</td>
                         		</tr>
                         		<tr class=" final-tr  {{../resultFirst.levelStyle}}">
                                         <td class="tg-c3ow own-table-align-center" >Результат:<br><span style="font-weight:bold;font-style:italic;font-size:.8em" >100-75% - выше базового,  74-50% - базовый уровень, 49-0% - ниже базового </span></td>
                                         <td class="tg-0pky own-table-align-center align-middle fix-width">{{../firstInterest}} % <br><span style="font-size:.8em" class="print-none"> {{../resultFirst.level}}</span></td>
                                 </tr>
                         		<tr>
                         			<td colspan="2" class="own-table-align-center" style="font-weight:bold">2. МЕТОДИЧЕСКИЕ КОМПЕТЕНЦИИ
                                     </td>
                         		</tr>
                         		<tr>
                                    <td colspan="2" style="font-weight:bold"> Целеполагание на уроке</td>
                                </tr>
                         		<tr>
                         			<td>2.1. Учитель обучает учащихся ставить учебную цель, используя проблемные вопросы, смысловые догадки, метод ассоциаций и другое</td>
                         			<td class="fix-width">{{k_2_1}}</td>
                         		</tr>
                         		<tr>
                         			<td>2.2. Цель урока сформулирована так, что ее достижение можно про-верить</td>
                         			<td class="fix-width">{{k_2_2}}</td>
                         		</tr>
                         		<tr>
                         			<td>2.3. Составлены критерии оценки деятельности и результатов учащихся на уроке</td>
                         			<td class="fix-width">{{k_2_3}}</td>
                         		</tr>
                         		<tr>
                         			<td colspan="2" style="font-weight:bold">Организация деятельности учащихся на уроке</td>
                         		</tr>
                         		<tr>
                         			<td>2.4. Учитель формирует положительную учебную мотивацию, интерес учащихся к теме урока</td>
                         			<td class="fix-width">{{k_2_4}}</td>
                         		</tr>
                         		<tr>
                         			<td>2.5. Учитель применяет
                         приемы активизации познавательной деятельности учащихся и диалоговые технологии
                         </td>
                         			<td class="fix-width">{{k_2_5}}</td>
                         		</tr>
                         		<tr>
                         			<td>2.6. Учитель организует самостоятельную работу учащихся с учебником </td>
                         			<td class="fix-width">{{k_2_6}}</td>
                         		</tr>
                         		<tr>
                         			<td>2.7. Учитель формирует универсальные учебные действия учащихся на предметном материале урока</td>
                         			<td class="fix-width">{{k_2_7}}</td>
                         		</tr>
                         		<tr>
                         			<td>2.8. Учитель использует разнообразные способы и средства обратной связи с учащимися</td>
                         			<td class="fix-width">{{k_2_8}}</td>
                         		</tr>
                         		<tr>
                         			<td>2.9. Учитель организует разнообразные формы учебного сотрудничества учащихся</td>
                         			<td class="fix-width">{{k_2_9}}</td>
                         		</tr>
                         		<tr>
                         			<td>2.10.* На уроке организована проектная деятельность учащихся</td>
                         			<td class="fix-width">{{ ../specialVal.k_2_10}}</td>
                         		</tr>
                         		<tr>
                         			<td>2.11.*  На уроке организована учебно-исследовательская деятельность учащихся</td>
                         			<td class="fix-width">{{ ../specialVal.k_2_11}}</td>
                         		</tr>
                         		<tr>
                         			<td colspan="2" style="font-weight:bold">Оценка и рефлексия на уроке</td>
                         		</tr>
                         		<tr>
                         			<td>2.12. Учитель применяет на уроке приемы формирующего оценивания (задания на самооценку, рефлексивные вопросы, которые помогают учащимся осознать свои затруднения и достижения на уроке)</td>
                         			<td class="fix-width">{{k_2_12}}</td>
                         		</tr>
                         		<tr>
                         			<td>2.13. Учитель оценивает выполнение заданий на уроке учащимися на основе критериев оценки</td>
                         			<td class="fix-width">{{k_2_13}}</td>
                         		</tr>
                         		<tr>
                         			<td>2.14. Учитель комментирует выставленные отметки</td>
                         			<td class="fix-width">{{k_2_14}}</td>
                         		</tr>
                         		<tr>
                         			<td>2.15. Учитель организует на уроке рефлексию учащихся с учетом их возрастных особенностей </td>
                         			<td class="fix-width">{{k_2_15}}</td>
                         		</tr>
                         		<tr>
                         			<td colspan="2" style="font-weight:bold">Информационное и техническое обеспечение урока </td>
                         		</tr>
                         		<tr>
                         			<td>2.16. Учитель использует наглядность (знаково-символические средства, модели и другое)</td>
                         			<td class="fix-width">{{k_2_16}}</td>
                         		</tr>
                         		<tr>
                         			<td>2.17. Учитель  организует работу учащихся с разнообразным учебным материалом (тексты, таблица, схема, график, видео, аудио)</td>
                         			<td class="fix-width">{{k_2_17}}</td>
                         		</tr>
                         		<tr>
                         			<td>2.18. Учитель использует на уроке электронные учебные материалы и ресурсы Интернета</td>
                         			<td class="fix-width">{{k_2_18}}</td>
                         		</tr>
                         		<tr>
                         			<td>2.19.* Учитель использует ИКТ-технологии</td>
                         			<td class="fix-width">{{ ../specialVal.k_2_19}}</td>
                         		</tr>
                         		<tr>
                         			<td>2.20. * Учитель использует  разнообразные справочные материалы
                         (словари, энциклопедии,
                         справочники)
                         </td>
                         			<td class="fix-width"> {{ ../specialVal.k_2_20}}</td>
                         		</tr>
                         		<tr>
                         			<td colspan="2" style="font-weight:bold">Обеспечение условий охраны здоровья учащихся (0 – 3 балла)</td>
                         		</tr>
                         		<tr>
                         			<td>2.21. Учитель  чередует различные виды деятельности учащихся, соблюдая  требования СанПиН и СП</td>
                         			<td class="fix-width">{{k_2_21}}</td>
                         		</tr>
                         		<tr>
                         			<td>2.22. Учитель включает в урок динамические паузы (физкультминутки),  проводит комплекс упражнений для профилактики сколиоза, утомления глаз учащихся</td>
                         			<td class="fix-width">{{k_2_22}}</td>
                         		</tr>
                         		<tr class=" final-tr  {{../resultSecond.levelStyle}}">
                                         <td class="tg-c3ow own-table-align-center" >Результат:<br><span style="font-weight:bold;font-style:italic;font-size:.8em" >100-75% - выше базового,  74-50% - базовый уровень, 49-0% - ниже базового </span></td>
                                         <td class="tg-0pky own-table-align-center align-middle fix-width">{{../secondInterest}} % <br><span style="font-size:.8em" class="print-none"> {{../resultSecond.level}}</span></td>
                                 </tr>
                         		<tr>
                         			<td colspan="2" class="own-table-align-center" style="font-weight:bold">3. ПСИХОЛОГО-ПЕДАГОГИЧЕСКИЕ КОМПЕТЕНЦИИ</td>
                         		</tr>
                         		<tr>
                         			<td>3.1. Учитель формирует ценность здоровья и безопасного образа жизни у обучающихся</td>
                         			<td class="fix-width">{{k_3_1}}</td>
                         		</tr>
                         		<tr>
                                    <td>3.2. Учитель организует обучение учащихся на основе дифференциации и индивидуализации с
                                        учетом особенностей их когнитивного и эмоционального развития
                                    </td>
                                    <td class="fix-width">{{k_3_2}}</td>
                                </tr>
                         		<tr>
                         			<td>3.3. Учитель применяет приемы развития внимания и памяти, мышления и речи, критического мышления и креативности учащихся</td>
                         			<td class="fix-width">{{k_3_2}}</td>
                         		</tr>

                         		<tr class=" final-tr  {{../resultThird.levelStyle}}">
                                         <td class="tg-c3ow own-table-align-center" >Результат:<br><span style="font-weight:bold;font-style:italic;font-size:.8em" >100-75% - выше базового,  74-50% - базовый уровень, 49-0% - ниже базового </span></td>
                                         <td class="tg-0pky own-table-align-center align-middle fix-width">{{../thirdInterest}} % <br><span style="font-size:.8em" class="print-none"> {{../resultThird.level}}</span></td>
                                 </tr>
                         		<tr>
                         			<td colspan="2" class="own-table-align-center" style="font-weight:bold"> 4. КОММУНИКАТИВНЫЕ КОМПЕТЕНЦИИ</td>

                         		</tr>


                         		<tr>
                         			<td>4.1. Учитель организует общение и взаимодействие с учащимися на уроке</td>
                         			<td class="fix-width">{{k_4_1}}</td>
                         		</tr>
                         		<tr>
                         			<td>4.2. Учитель организует совместную деятельность учащихся в командах (группах)</td>
                         			<td class="fix-width">{{k_4_2}}</td>
                         		</tr>
                         		<tr>
                         			<td>4.3. * Учитель умеет работать с конфликтной ситуацией на уроке</td>
                         			<td class="own-table-align-center">{{ ../specialVal.k_4_3}}</td>
                         		</tr>
                         		<tr class=" final-tr  {{../resultFourth.levelStyle}}">
                                         <td class="tg-c3ow own-table-align-center" >Результат:<br><span style="font-weight:bold;font-style:italic;font-size:.8em" >100-75% - выше базового,  74-50% - базовый уровень, 49-0% - ниже базового </span></td>
                                         <td class="tg-0pky own-table-align-center align-middle fix-width">{{../fourthInterest}} % <br> <span style="font-size:.8em" class="print-none"> {{../resultFourth.level}}</span></td>
                                 </tr>
                         		</div>
{{!--                          <tr class=" final-tr  {{../levelStyle}}"> --}}
{{!--                              <td class="tg-c3ow own-table-align-center" >КАЧЕСТВО УРОКА<br><span style="font-weight:bold;font-style:italic">100-76% - выше базового,  75-51% - базовый уровень,</span><br><span style="font-weight:bold;font-style:italic">50-0% - ниже базового </span><span style="font-weight:bold"> </span></td> --}}
{{!--                              <td class="tg-0pky own-table-align-center align-middle">{{../interest}} <br> {{../level}}</td> --}}
{{!--                          </tr> --}}

                       </tbody>
                       </table>

                     </div>
                 </div>
            </div>
            <!-- end new tbl -->

                <div class="row">
                    <div class="col-12">
                        <br>
                        <div class="lesson_info">
                            <p class="lesson_info__name"><span>ФИО оценивающего: </span></p>
                            <p class="lesson_info__position"><span>Должность оценивающего: </span></p>
                            <p class="lesson_info__date"><span>Подпись: </span></p>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class=" col-md-12 col-lg-6">
                        <div class="list_action">
                            <div class="list_action__child excel-btn">
                                <form method="POST" class="secondary_form">
                                    <input type="hidden" name="excel_tbl" value="{{@root.csrf}}" id="excel_tbl">
                                    <input type="hidden" name="_csrf" value="{{@root.csrf}}" id="token">
                                    <div class="d-grid gap-2">
                                        <button type="button" class="card-btn btn btn-block btn-main-block " onClick="window.print()">Подготовить для печати </button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="list_action">
                            <div class="list_action__child email-btn">
                                <div class="d-grid gap-2">
                                    <a  class="card-btn" href="/school/card/api/send/{{../teacher_id}}/{{id_card}}">Отправить на электронный адрес учителя</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div class="list_action">
                            <div class="list_action__child method-btn">
                                <form method="POST"  class="secondary_form">
                                    <input type="hidden" name="method_rec" value="{{@root.csrf}}" id="excel_tbl">
                                    <input type="hidden" name="_csrf" value="{{@root.csrf}}" id="token">
                                    <div class="d-grid gap-2">
                                        <button type="submit" class="card-btn" id="method_form">Скачать методические рекомендации</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 ">
                        <div class="list_action">
                            <div class="list_action__child diagramma-btn">
                                <form method="POST" action=""  class="secondary_form">
                                    <input type="hidden" name="delete_teacher_school" value="{{school_id}}" >
                                    <input type="hidden" name="delete_teacher_id" value="{{teacher_id}}" >
                                    <input type="hidden" name="_csrf" value="{{@root.csrf}}" id="token">
                                    <div class="d-grid gap-2">
                                        <button type="submit" class="card-btn"> <span style="color:tomato">  Удалить текущую оценку (анализ)</span></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            {{/each}}
        </div>
    </div>
</main>


<div class="black"></div>

<script>
    $('tr[data-href]').on("click", function() {
         document.location = $(this).data('href');
    }); 
    
     $('#method_form').on('click', function () {
        let th = $(this)
        setTimeout( function () {
            $(th).prop('disabled', true)
        }, 200)
    })
</script>


