<header>
    <div class="container">

        <div class="row d-flex align-items-center">
            <div class=" col-md-6 col-sm-12">
                <div class="logo">
                    <a href="/" class="logo__tallam">Tallam</a>
                    <div>
                        <h2 class="header__institution" id="header__institution">{{school_name}}</h2>
                    </div>
                </div>
            </div>
            <div class=" col-md-6 col-sm-12 ">
                <nav class="navbar navbar-expand-md navbar-light">
                    <div class="container-fluid pt-2">
                        <button class="navbar-toggler mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon "></span>
                        </button>
                        <div class="collapse navbar-collapse   flex-row-reverse  " id="navbarNavDropdown">
                            <ul class="navbar-nav" >
                                <li class="nav-item">
                                    <a class="nav-link"  href="/school/project">Проекты</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"  href="/school/support">Помощь</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/auth/logout">Выйти</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

<style>
    /*.js-example-basic-multiple {*/
    /*    height: 65px !important;*/
    /*    line-height: 31px !important;*/
    /*}*/

</style>

<section>
    {{#if error}}
        <div class="alert alert-danger alert_notification" role="alert">
            {{error}}
        </div>
    {{/if}}

    {{#if notice}}
        <div class="alert alert-primary alert_notification" role="alert"  >
            {{notice}}
        </div>
    {{/if}}
</section>
<main>

<section>
    <div class="container">

        <div class="row indent-y-1">
            <div class="col-12 indent-y-2">
                <h2 class="main_title text-align-center ">{{this.school_name}}</h2>
                <h2 class="text-align-center"> Общий список педагогических работников ОО </h2>
            </div>
            {{#if school.length}}
                {{#each school}}
            <div class="col-md-12 col-lg-6">
                <div class="section-school-title__wrapper">
                    <div class="section-school-title__part-left">
                        <h4 >Город/Район: {{this.title_area}}</h4>
                    {{/each}}
                    <h4> Электронный адрес: {{email}} </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 ">
                <div class=" text-align-right">
                    <a href="/school/list/create_base_list/{{school_id}}"><i class="fa fa-file-excel-o" style="font-size:2.5em;color:#39b76c"></i> <span>Сформировать банк данных педагогов</span></a>
                </div>
            </div>
            {{else}}
                <h2> Нет данных </h2>
            {{/if}}
        </div>
    </div>
</section>

<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- TABLE FOR STAFF -->
                <div class="wrapper-body table_section table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>№</th>
                            <th>ФИО (учителя)</th>
                            <th>Должность</th>
                            <th>Действие</th>
                        </tr>
                        </thead>
                        <tbody>

                        {{#if teachers}}
                            {{#each teachers}}
                                <tr >
                                    <td>{{increment @index}}</td>
                                    <td >{{surname}} {{firstname}}</td>
                                    <td >{{title_position}}</td>
                                    <td >
                                        <a href="/school/list/{{id_teacher}}" class="rate_button button">Просмотреть</a>
                                    </td>
                                </tr>
                            {{/each}}
                        {{/if}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 indent-y-3">
                <div class="d-grid gap-2">
                    <button id="myBtn" class="btn btn-block btn-main-block btn-main-color">Добавить работника в базу ОУ </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div id="myModal" class="modal-1">
                <!-- Modal content -->
                <div class="modal-content-1">
                    <div class="modal-wrap ">
                        <span class="close-1 clearfix">&times;</span>
                    </div>
                    <form  method="POST" class="add_form"  name="add_teacher">

                        <h2 class="add_form__heading">Личные данные</h2>
                        <label class="form-label text-align-left">ФИО <span class="star">*</span></label>
                            <div class="mb-3">
                                <input type="text"  class="form-control" autofocus placeholder="Фамилия *" name="surname" required>
                            </div>
                            <div class="mb-3">
                                <input type="text"  class="form-control" placeholder="Имя *" name="firstname" required>
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Отчество" name="patronymic">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Дата рождения <span class="star">*</span></label>
                                <input type="date" class="form-control" placeholder="01.01.2000" name="birthday" value="2000-01-01"  min="1940-01-01" max="2020-12-01" required >
                            </div>
                            <div class="mb-3">
                                <label class="form-label">СНИЛС </label>
                                <input type="text" class="form-control" placeholder="000 000 000 00 (11-значное число)" name="snils" title="Необходимо ввести только цифры без пробелов и тире" pattern="^[0-9]+$">
                                <label class="label-description indent-y-5-m" for="snils">Необходимо ввести только цифры без пробелов и тире (максимальное количество 12 цифр)</label>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Пол <span class="star">*</span> </label>
                                <select name="gender" class="form-select" required>
                                    <option value="" selected disabled>Выбрать пол</option>
                                    {{#if gender}}
                                        {{#each gender}}
                                            <option value="{{id_gender}}"> {{gender_title}}</option>
                                        {{/each}}
                                    {{else}}
                                        <option value=""> НЕТ ДАННЫХ </option>
                                    {{/if}}
                                </select>
                            </div>
                             <h2 class="add_form__heading">Образование</h2>

                            <div class="mb-3">
                                <label class="form-label">Уровень образования <span class="star">*</span> </label>
                                <select name="level_of_education" class="form-select" required>
                                    <option value="" selected disabled>Выбрать уровень образования</option>
                                    {{#if level_edu}}
                                        {{#each level_edu}}
                                            <option value="{{id_edu_level}}"> {{title_edu_level}}</option>
                                        {{/each}}
                                    {{else}}
                                        <option value=""> НЕТ ДАННЫХ </option>
                                    {{/if}}
                                </select>
                            </div>
                            <div class="mb-3">
                                <input type="text"   class="form-control" placeholder="Специальность" name="specialty">
                            </div>
                            <div class="mb-3">
                                <input type="text"  class="form-control"   placeholder="Серия и номер диплома" name="diploma">
                            </div>
                            <div class="mb-3">
                                <h2 class="add_form__heading"> Профессиональные данные</h2>
                                <label class="form-label">Должность <span class="star">*</span>  </label>
                                <select name="position" class="form-select" required>
                                    <option value="" selected disabled>Выбрать должность</option>
                                    {{#if positionList}}
                                        {{#each positionList}}
                                            <option value="{{id_position}}"> {{title_position}}</option>
                                        {{/each}}
                                    {{else}}
                                        <option value=""> НЕТ ДАННЫХ </option>
                                    {{/if}}
                                </select>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Преподаваемые дисциплины <span class="label-description indent-y-5-m">(можно выбрать несколько предметов)</span> </label>
                                <select class="js-example-basic-multiple" name="disciplines[]" id="dis" multiple="multiple" >
                                    {{#if disciplines}}
                                        {{#each disciplines}}
                                            <option data-discip="{{title_discipline}}" value="{{id_discipline}}"> {{title_discipline}}</option>
                                        {{/each}}
                                    {{else}}
                                        <option value=""> НЕТ ДАННЫХ </option>
                                    {{/if}}
                                </select>
                                <ul class="selected_disciplines">
                                </ul>
                            </div>
                            <div class="mb-3">
                                <label class="message form-label" for="total_experience">Общий стаж</label>
                                <input type="text" class="form-control" placeholder="Общий стаж" name="total_experience">

                            </div>
                            <div class="mb-3">
                                <label class="message form-label" for="teaching_experience">Педагогический стаж</label>
                                <input type="text" class="form-control" placeholder="Педагогический стаж" name="teaching_experience">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Категория </label>
                                <select name="category" class="form-select" >
                                    {{#if categories}}
                                        {{#each categories}}
                                            <option  value="{{id_category}}"> {{title_category}}</option>
                                        {{/each}}
                                    {{else}}
                                        <option value=""> НЕТ ДАННЫХ </option>
                                    {{/if}}
                                </select>
                            </div>
                            <div class="mb-3">
                                <h2 class="add_form__heading">Контактные данные</h2>
                                <input type="text" class="form-control" placeholder="Телефон" name="phone">
                                <label  class="form-label label-description indent-y-5-m" for="phone">Введите номер телефона в формате +7 (000) 000 00 00</label>
                            </div>
                            <div class="mb-3">
                                <input type="email" class="form-control" placeholder="Email" name="email">
                                <label  class="form-label label-description indent-y-5-m" for="email">Адрес почты должен быть верного формата: example@mail.ru</label>
                            </div>
                            <h2 class="add_form__heading">Повышение квалификации</h2>
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Место, программа (тема) последнего прохождения КПК" name="place_kpk">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Год прохождения КПК   </label>
                                    <select name="year" class="form-select" >
                                        <option value="" selected>-</option>
                                        <option value="punkt1"></option>
                                        <option value="punkt2"></option>
                                        <option value="punkt3"></option>
                                    </select>
                            </div>
                            <div class="mb-3">
                                <label for="project" class="form-label"> Добавить в проект    </label>
                                    <select name="project_id" class="form-select" id="project">
                                        <option value="1" selected> не участвует в проектах </option>
                                        {{#if projects}}
                                            {{#each projects}}
                                                <option  value="{{id_project}}"> {{name_project}} </option>
                                            {{/each}}
                                        {{else}}
                                            <option value=""> НЕТ ДАННЫХ </option>
                                        {{/if}}
                                    </select>
                            </div>
                            <div class="mb-3">
                                {{#each school}}
                                    <input type="hidden" name="id_school" value="{{id_school}}">
                                {{/each}}
                                <input type="hidden" name="_csrf" value="{{@root.csrf}}" id="token">
                                <input type="hidden" name="school_id" value="{{school_id}}">
                            </div>

                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-block btn-main-block btn-main-color">Добавить</button>
                            </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- The Modal -->


</main>







<script>

    setTimeout(function(){
        let notices =  document.querySelectorAll('.alert_notification')
        for (let i = 0; i <notices.length; i ++ ) {
            notices[i].remove()
        }
    },2000)

        $(document).ready(function() {
            $('.js-example-basic-multiple').select2({ width: '100%' });

        });
        $(document).ready(function() {
            $('.js-example-basic-multiple').select2({ width: '100%' });
        });

        let modal = document.getElementById("myModal");

        let btn = document.getElementById("myBtn");

        let span = document.getElementsByClassName("close-1")[0];

        let wrap_area = document.querySelector(".modal-wrap")

        btn.onclick = function() {
            modal.style.display = "block";
        }

        span.onclick = function() {
            modal.style.display = "none";
        }

        wrap_area.onclick = () => {
            modal.style.display = "none"
        }


        window.onclick = function(event) {
            if (event.target == modal ) {
                modal.style.display = "none";
            }
        }

        $(document).keyup(function(e) {
            if (e.key === "Escape") {
                modal.style.display = "none";
            }
        });

        let years = document.querySelectorAll("select[name='year'] > option");
        function setYears(){
            let year = new Date().getFullYear();

            for(let i = 1; i < 4; i++){
                years[i].value = year - i+1;
                years[i].innerHTML = year - i+1;
            }
        }


        setYears();


</script>
   



    
